target
ak-hurrican-gui/data
log
.project
.classpath
.settings
test.history
test-output
logs
*.iml
*.ipr
*.iws
*.log
.idea/
build
!.idea/runConfigurations/
!.idea/codeStyleSettings.xml
!.idea/vcs.xml
hurrican-acceptance-test/build/ems
wbci-acceptance-test/build/ems
hurrican-acceptance-test/build/ems
